/* Font imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  /* Primary colors */
  --primary-color--1: #ffffff;
  --primary-color--2: #2e424d;
  --primary-color--3: #090909;
  --primary-color--4: #5b8291;
  --primary-color--5: #98dad9;

  /* Secondary colors */
  --secondary-color--1: #8f8f8f;
  --secondary-color--2: #dedede;
  --secondary-color--3: #ebebeb;
}

/* Basic formatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Font used in everything */
  font-family: "Open Sans", sans-serif;
}

/* Global */
img {
  max-width: 100%;
  display: block;
}

/* Typography */
body {
  font-size: 0.875rem;
  color: var(--primary-color--3);
}

/* Layout */
.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: var(--primary-color--4);
  padding: 1em 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.header__navbar,
.navbar__nav {
  display: flex;
  align-items: center;
}

.header__navbar {
  justify-content: space-between;
}

.navbar__nav {
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar__logo {
  display: inline-block;
  padding: 0.75em 1em;
  background-color: var(--secondary-color--1);
  color: var(--secondary-color--2);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar__nav {
  list-style: none;
  background-color: var(--primary-color--2);
  width: 50%;
  height: 100vh;
  padding: 1em 0;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
}

.navbar__nav.show {
  display: flex;
}

.navbar__toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.65em;
  position: relative;
}

.navbar__toggle span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--primary-color--1);
  border-radius: 3px;
}

.navbar__toggle span:nth-child(2) {
  transform-origin: left bottom;
}

.navbar__toggle span:nth-child(4) {
  transform-origin: left top;
}

.navbar__toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
}

.navbar__toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.navbar__toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}

.navbar__toggle input {
  position: absolute;
  width: 50px;
  height: 20px;
  transform: translate(-10px, -1px);
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.nav__item + .nav__item {
  margin-top: 0.5em;
}

.nav__link {
  color: var(--primary-color--1);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.125rem;
}

.nav__link:hover,
.nav__link:focus {
  font-weight: 600;
}

.nav__button {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: var(--primary-color--1);
  border-radius: 20px;
  text-decoration: none;
  color: var(--primary-color--4);
  text-transform: capitalize;
  font-size: 1.125rem;
}

/* Hero */
.container--hero {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  height: 100vh;
  background: var(--primary-color--4);
}

.hero__main {
  order: 1;
  text-align: center;
  color: var(--primary-color--1);
}

.hero__main h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.hero__main p {
  margin: 1em 0;
  font-weight: 600;
}

.hero__main p::first-letter {
  text-transform: capitalize;
}

.hero__main a {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: var(--primary-color--1);
  border-radius: 20px;
  text-decoration: none;
  color: var(--primary-color--4);
  text-transform: capitalize;
}

.hero__secondary {
  margin-bottom: 1em;
}

/* Main */
main {
  padding: 2em 0;
}

.article--recent + .article--recent {
  margin-top: 2em;
}

.article--recent,
.article--recent__main,
.main__author,
.article--recent__secondary {
  display: flex;
}

.article--recent,
.article--recent__main,
.article--recent__secondary {
  flex-direction: column;
}

.article--recent__main {
  margin-bottom: 0.5em;
}

.main__author {
  align-items: center;
  margin-bottom: 0.5em;
}

.main__author img {
  width: 8%;
  margin-right: 0.5em;
}

.main__author p {
  text-transform: capitalize;
  font-weight: 600;
}

.article--recent__main h3 {
  font-weight: 700;
  font-size: 1.125rem;
}

.article--recent__main > p {
  margin: 1em 0;
}

.article--recent__main > span {
  font-size: 0.75rem;
  color: var(--secondary-color--1);
  text-transform: capitalize;
}

/* Aside */
aside {
  padding: 2em 0;
}

aside h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 2em;
}

.article--trending + .article--trending {
  margin-top: 2em;
}

.article--trending,
.article--trending__main {
  display: flex;
}

.article--trending {
  flex-direction: column;
}

.article--trending__main {
  align-items: center;
}

.article--trending__main img {
  width: 8%;
  margin-right: 0.5em;
}

.article--trending__main p {
  text-transform: capitalize;
  font-weight: 600;
}

.article--trending__secondary h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5em 0;
}

.article--trending__secondary p {
  font-weight: 400;
  color: var(--secondary-color--1);
}

/* Footer */
footer {
  padding: 1em 0;
  background-color: var(--primary-color--4);
}

.container--footer {
  align-items: center;
  justify-content: center;
}

.footer__logo {
  display: inline-block;
  padding: 0.75em 1em;
  background-color: var(--secondary-color--1);
  color: var(--secondary-color--2);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;

  margin-bottom: 1em;
}

footer p {
  text-transform: capitalize;

  color: var(--primary-color--1);
}

/* Larger devices */
@media (min-width: 675px) {
  /* Layout */
  .container--flex {
    flex-direction: row;
    justify-content: space-between;
  }

  /* Header */
  .header__navbar,
  .navbar__nav {
    flex-direction: row;
  }

  .header__navbar {
    justify-content: space-between;
  }

  .navbar__nav {
    display: flex;
    list-style: none;
    background: none;
    padding: 0;
    justify-content: end;
    position: static;
    height: 0;
  }

  .navbar__toggle {
    display: none;
  }

  .nav__item + .nav__item {
    margin-top: 0;
    margin-left: 1em;
  }

  .nav__link,
  .nav__button {
    font-size: 0.875rem;
  }

  /* Hero */
  .hero__main {
    order: 0;
    text-align: left;
    width: 55%;
  }

  .hero__secondary {
    width: 40%;
  }

  /* Main */
  main {
    width: 65%;
  }

  .article--recent {
    flex-direction: row;
    align-items: center;
  }

  .article--recent__main {
    margin-bottom: 0;
  }

  .main__author img {
    width: 5%;
  }

  /* Aside */
  aside {
    width: 30%;
  }

  aside h2 {
    margin-bottom: 1em;
  }

  /* Footer */
  .footer__logo {
    margin-bottom: 0;
  }
}
